body {
    margin: 0;
    padding: 0;
    background: #923a00;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-top: 10px solid #f39c12;
    border-left: 10px solid #d35400;
    border-bottom: 10px solid #f39c12;
    border-right: 10px solid #d35400;
    border-width: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    z-index: -1;
}

li:nth-child(1) {
    background: #f1c40f;
    transform: translate(-50%, -50%);
}

li:nth-child(2) {
    background: #e67e22;
    transform: translate(50%, -50%);
}

li:nth-child(3) {
    background: #e74c3c;
    transform: translate(-50%, 50%);
}

li:nth-child(4) {
    background: #c0392b;
    transform: translate(50%, 50%);
}

ul.circle1 {
    animation: animateOne 6s linear infinite;

}

ul.circle2 {
    animation: animateTwo 6s linear infinite;
}

@keyframes animateOne {

    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animateTwo {

    0%{
        transform: translate(-50%, -50%) rotate(0deg) scale(0.4);
    }

    100%{
        transform: translate(-50%, -50%) rotate(360deg) scale(0.4);
    }
}