body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    float: left;
    background: #ff85e4;
    padding: 15px 20px;
    font-size: 20px;
    margin: 10px;
    color: #fff;
    /* alternate表示动画在每次循环之间会反向播放 */
    animation: animate 1s  infinite alternate;
    -webkit-perspective: 500px;
}

@keyframes animate {
    from {
        transform: scale(1) translateY(0) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    to {
        transform: scale(1.35) translateY(-25px) rotateX(45deg);
        box-shadow: 0 30px 5px rgba(0, 0, 0, 0.1);
    }
}

ul li:nth-child(1) {
    animation-delay: 0s;
}

ul li:nth-child(2) {
    animation-delay: 0.2s;
}

ul li:nth-child(3) {
    animation-delay: 0.4s;
}

ul li:nth-child(4) {
    animation-delay: 0.6s;
}

ul li:nth-child(5) {
    animation-delay: 0.8s;
}

ul li:nth-child(6) {
    animation-delay: 1s;
}

ul li:nth-child(7) {
    animation-delay: 1.2s;
}